form 
{ 
  margin: 0 auto;
  width: 650px; 
  padding: 1em;
  border: 1px solid #1CC;
  border-radius: 1em;
  background-color: lightblue;
}
h2
{
  text-align: center;
  background-color: yellow;
}
label 
{  
  display: inline-block;
  width: 225px;
  text-align: right;
}
input, textarea
{  
  font: 1em sans-serif;  
  width: 290px;
  box-sizing: border-box;  
  border: 1px solid #999;
}
input:focus, textarea:focus 
{ 
  border-color: #000;
}
textarea 
{ 
  vertical-align: top; 
  height: 4em;
}
form .head
{
	background-color: yellow;
}
input:radio
{
	display: inline;
}
input[type=radio]:not(old)
{
  	width: 1em;
  	display: inline-block; 
}

.errorshow{
  width: 62px;
  color: red;
  float: right;
}

.btn
{
  margin-left: 35%;

}

.subbut{
  margin-left: 10%;
}



  

